<ul class="nav navbar-nav">
  <li>
    <a href="index.html">Dashboard</a>
  </li>
  <li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-plus-square"></i> Create New
      <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><a href="index.html"><i class="gi gi-wifi_alt"></i> Broadcast</a></li>
      <li><a href="index.html"><i class="gi gi-history"></i> Autoresponder Message</a></li>
      <li class="divider"></li>
      <li><a href="create-list.html"><i class="gi gi-file"></i> List</a></li>
      <li><a href="index.html"><i class="fa fa-bolt"></i> Autoresponder</a></li>
      <li class="divider"></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown"><i class="gi gi-wifi_alt"></i> Broadcasts
      <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="index.html"><i class="gi gi-clock"></i> Scheduled (2)</a></li>
      <li><a href="index.html"><i class="fa fa-check"></i> Processed (122)</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="index.html"  class="dropdown-toggle" data-toggle="dropdown"><i class="gi gi-file"></i> Lists
      <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><a href="index.html"><i class="gi gi-file"></i> Front-end developers</a></li>
    </ul>
  </li>
  <li>
    <a href="create-subscription-form.html"><i class="fa fa-code"></i> Subscription Form</a>
  </li>
  <li>
    <a href="index.html"><i class="fa fa-rss-square"></i> Blog Delivery</a>
  </li>
  <li>
    <a href="#"><i class="fa fa-bar-chart-o"></i> Analytics</a>
  </li>
  <li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i> Settings
      <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><a href="index.html"><i class="fa fa-asterisk fa-fw pull-right"></i> Delivery Settings</a></li>
    </ul>
  </li>
  <li>
    <a href="index.html"><i class="fa fa-sort-amount-desc"></i> Delivery Queue</a>
  </li>
  <li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-life-bouy"></i> Help
      <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><a href="index.html">Knowledgebase</a></li>
      <li><a href="index.html">FAQ</a></li>
      <li><a href="index.html">Customize Mailnode</a></li>
      <li><a href="index.html">Setting Up</a></li>
      <li><a href="index.html">Community</a></li>
      <li><a href="index.html">Contact Developer</a></li>
    </ul>
  </li>
</ul>
