<div class="email-content">
  <div class="tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a role="tab" data-toggle="tab" href="#html">HTML Body</a></li>
      <li role="presentation"><a role="tab" data-toggle="tab" href="#text">Text Body</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="html">
        This is the HTML body
      </div>
      <div role="tabpanel" class="tab-pane" id="text">This is the text body</div>
    </div>
  </div>
</div>
